USE [master]
GO
/****** Object:  Database [JEnriquezCRUDClientes]    Script Date: 10/11/2024 7:03:10 PM ******/
CREATE DATABASE [JEnriquezCRUDClientes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JEnriquezCRUDClientes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JEnriquezCRUDClientes.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JEnriquezCRUDClientes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\JEnriquezCRUDClientes_log.ldf' , SIZE = 1600KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JEnriquezCRUDClientes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JEnriquezCRUDClientes]
GO
/****** Object:  StoredProcedure [dbo].[CadenasGetAll]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CadenasGetAll]
AS
	BEGIN
	SELECT
		IdCadena,
		Nombre,
		Activo
		from Cadenas
	end

GO
/****** Object:  StoredProcedure [dbo].[ClienteAdd]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteAdd]
	@IdCadena INT,
	@Sucursal VARCHAR(255),
	@InicioContrato DATE,
	@Activo Bit,
	@FechaActualizacion Datetime,
	@Imagen VARBINARY(MAX),
    @No_Cliente INT
AS
	BEGIN 
	INSERT INTO Clientes
	(
	IdCadena,
	Sucursal,
	InicioContrato,
	Activo,
	FechaActualizacion,
	Imagen,
	No_Cliente
	)
	VALUES
	(
	@IdCadena,
	@Sucursal,
	@InicioContrato,
	@Activo,
	@FechaActualizacion,
	@Imagen,
	@No_Cliente
	)
	END ;

GO
/****** Object:  StoredProcedure [dbo].[ClienteChangeStatus]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteChangeStatus]

	@Activo bit,
	@IdCliente int

	AS
	UPDATE Clientes 
	SET Activo = @Activo
	WHERE IdCliente = @IdCliente

GO
/****** Object:  StoredProcedure [dbo].[ClienteDelete]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteDelete]
@IdCliente int
	AS
		BEGIN
		DELETE FROM Clientes
		WHERE IdCliente = @IdCliente;
		END

GO
/****** Object:  StoredProcedure [dbo].[ClienteGetAll]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteGetAll]
AS
	BEGIN
		SELECT
		Clientes.IdCliente,
		Cadenas.IdCadena,
		Cadenas.Nombre, --as NombreCadena,
		Clientes.Sucursal,
		Clientes.InicioContrato,
		Clientes.Activo,
		Clientes.FechaActualizacion,
		Clientes.Imagen,
		Clientes.No_Cliente
		FROM Clientes
		JOIN Cadenas on Clientes.IdCadena = Cadenas.IdCadena;
	END 



GO
/****** Object:  StoredProcedure [dbo].[ClienteGetById]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteGetById]
@IdCliente int
AS
	BEGIN 
	SELECT 
			IdCadena,
			Sucursal,
			InicioContrato,
			Activo,
			FechaActualizacion,
			No_Cliente,
			Imagen
		FROM Clientes
	WHERE IdCliente = @IdCliente;
END;

GO
/****** Object:  StoredProcedure [dbo].[ClienteUpdate]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClienteUpdate]
	@IdCliente INT,
	@IdCadena INT,
	@Sucursal VARCHAR(255),
	@InicioContrato DATE,
	@Activo Bit,
	@FechaActualizacion Datetime,
	@Imagen VARBINARY(MAX),
    @No_Cliente INT
AS
	BEGIN 
	update Clientes
	SET 
	IdCadena=@IdCadena,
	Sucursal=@Sucursal,
	InicioContrato=@InicioContrato,
	Activo=@Activo,
	FechaActualizacion=@FechaActualizacion,
	Imagen=@Imagen,
	No_Cliente=@No_Cliente
	Where IdCliente=@IdCliente
	END ;

GO
/****** Object:  Table [dbo].[Cadenas]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cadenas](
	[IdCadena] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCadena] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 10/11/2024 7:03:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdCadena] [int] NULL,
	[Sucursal] [varchar](255) NULL,
	[InicioContrato] [date] NULL,
	[Activo] [bit] NULL,
	[FechaActualizacion] [datetime] NULL,
	[Imagen] [varbinary](max) NULL,
	[No_Cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cadenas] ON 

INSERT [dbo].[Cadenas] ([IdCadena], [Nombre], [Activo]) VALUES (1, N'Walmart', 1)
INSERT [dbo].[Cadenas] ([IdCadena], [Nombre], [Activo]) VALUES (2, N'Aurrera', 1)
INSERT [dbo].[Cadenas] ([IdCadena], [Nombre], [Activo]) VALUES (3, N'Sams Club', 1)
SET IDENTITY_INSERT [dbo].[Cadenas] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [IdCadena], [Sucursal], [InicioContrato], [Activo], [FechaActualizacion], [Imagen], [No_Cliente]) VALUES (50, 4, N'Durango', CAST(0x58470B00 AS Date), 0, CAST(0x0000B20600C53BCB AS DateTime), NULL, 14)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  Index [UQ_No_Cliente]    Script Date: 10/11/2024 7:03:10 PM ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_No_Cliente] UNIQUE NONCLUSTERED 
(
	[No_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Cadenas] FOREIGN KEY([IdCadena])
REFERENCES [dbo].[Cadenas] ([IdCadena])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Cadenas]
GO
USE [master]
GO
