@using DevExtreme.AspNet.Mvc
@model ML.Cliente

<!-- Asegúrate de incluir los scripts de DevExtreme -->
@*<script src="https://cdn3.devexpress.com/jslib/23.1.5/js/dx.aspnet.data.js"></script>*@

<!-- CSS DevExtreme -->
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.5/css/dx.light.css" />

<!-- JS DevExtreme -->
@*<script src="https://cdn3.devexpress.com/jslib/23.1.5/js/dx.all.js"></script>*@

<!-- DevExtreme AspNet Data -->
@*<script src="https://cdn3.devexpress.com/jslib/23.1.5/js/dx.aspnet.data.js"></script>*@
<script src="https://unpkg.com/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>


<div id="data-grid-demo">
    @(Html.DevExtreme().DataGrid<ML.Cliente>()
    .ID("gridContainer")
    .Paging(paging => paging.Enabled(false))
    .ShowBorders(true)
    .Editing(editing => {
        editing.Mode(GridEditMode.Form);
        editing.AllowUpdating(true);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
    })
    .Columns(columns => {
        columns.AddFor(m => m.No_Cliente);
        columns.AddFor(m => m.Sucursal);
        columns.AddFor(m => m.InicioContrato);
        columns.AddFor(m => m.Activo);
        columns.AddFor(m => m.Cadena.IdCadena);
        //      columns.Add().DataField("ImagenBase64").Caption("Imagen").CellTemplate(new JS("function (container, options) { " +
        //    "console.log(options.data.ImagenBase64); " +
        //    "$('<img />', {" +
        //    "'src': options.data.ImagenBase64 ? 'data:image/png;base64,' + options.data.ImagenBase64 : '/images/noimage.png'," +
        //    "'style': 'max-width: 100px; height: auto;'" +
        //    "}).appendTo(container); " +
        //"}"));


    })
    .DataSource(d => d.Mvc()
        .Controller("Clientes")
        .LoadAction("GetAllDevExpress")
        .InsertAction("AddDevExpress")
        .UpdateAction("UpdateDevExpress")
        .DeleteAction("DeleteDevExpress")
        .Key("IdCliente")
    )

           .OnEditingStart(@<text>
            function(e) {
                if (e.data && e.data.IdCliente) {
                    e.component.columnOption("IdCliente", "visible", false);
                    e.component.columnOption("IdCliente", "allowEditing", false);
                } else {
                    e.component.columnOption("IdCliente", "visible", true);
                    e.component.columnOption("IdCliente", "allowEditing", true);
                }
            }
        </text>)
    )
</div>